html, body {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: inline-block;
}

a {
    transition: .2s ease-out;
}
/*...................................... 

GRID

......................................*/
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.row {

}
.row:after {
    clear: both;
    content: "";
    display: table;
}

.col-4 {
    width: 360px;
    margin-right: 30px;
    float: left;
}
.col-4:last-child {
    margin-right: 0px;
}


/*...................................... 

HEADER

......................................*/

.header {
    background: #343c4e;
    background-image: url("../img/bg/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 100vh;
    
    color: #FFF;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
     
}

.header__title {
    font-size: 56px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    margin-top: -50px;
}

.header__slogan {
    font-size: 28px;
    line-height: 42px;
}

.header__arrow {
   font-size: 48px;
    width: 60px;
    height: 50px;
    margin-left: -30px;
    position: absolute;
    bottom: 50px;
    left: 50%;
}


/*...................................... 

PORTFOLIO

......................................*/

.portfolio {
    padding-top: 70px;
    padding-bottom: 100px;
}

.portfolio-item {
    margin-bottom: 20px;
}

.title {
    font-size: 46px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.portfolio-item__img {
    margin-bottom: 17px;
}

.portfolio-item__title{
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
}

.portfolio-item__text {
   
}

.portfolio-item__title a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #fff;
}

.portfolio-item__title a:hover {
    color: #0052C2;
    border-color: rgba(0, 82, 194, 0.3);
}

.portfolio-item__text {
    margin-top: 0;
    margin-bottom: 15px;
}


/*...................................... 

PORTFOLIO  SINGLE  PAGE

......................................*/

.portfolio-single-page {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.portfolio-single-page img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

.button-back {
    display: inline-block;
    border: 2px solid #0052C2;
    width: fit-content;
    border-radius: 50px;
    padding: 10px 23px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #0052C2;
    text-decoration: none;
    transition: .2s ease-out;
}

.button-back:hover {
    color: #fff;
    background-color: #0052C2;
}
/*...................................... 

FOOTER

...................................... */

.footer {
    background: #061634;
    color: #6479a2;
    padding-top: 90px;
    padding-bottom: 190px;
}

.footer p {
    margin-top: 0;
    margin-bottom: 15px;
}

p.footer-item__name {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: normal;
    font-family: 'Merriweather', serif;
}

.footer-item__title {
    color: #fff;

}

.footer-item__social-icons a {
    color: #fff;
    font-size: 32px;
    margin-right: 30px;
}

.footer-item__social-icons a:last-child {
    margin-right: 0px;
}

.footer-item__social-icons a:hover {
    color: #ffe400;
}

.button a {
    display: inline-block;
    border: 2px solid #fff;
    width: fit-content;
    border-radius: 50px;
    padding: 10px 23px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
    transition: .2s ease-out;
}

.button a:hover {
    color: #061634;
    background-color: #ffe400;
    border-color: #6479a2;
}